/* import the necessary Bootstrap files */
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.Overview {
    .overview-header {
        background-color: white;
        border-bottom: 1px solid $gray-400;
        padding: 1em;
    }
    .workflow-row {
        .label {
            text-align: inherit;
        }
        .btn {
            min-width: 100px;

            @at-root td {
                text-align: center;
            }

            .fa-chevron-right {
                margin-left: 10px;
            }
        }
    }
}
