/* import the necessary Bootstrap files */
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.Overview {
    .overview-header {
        background-color: white;
        border-bottom: 1px solid $gray-400;
        padding: 1em;
    }
    .workflow-row {
        font-size: .9em;

        .label {
            text-align: inherit;
        }
        .btn {
            min-width: 110px;

            @at-root td {
                text-align: center;
            }

            .fa-chevron-right {
                margin-left: 10px;
            }

            .spinner-grow {
                margin-right: 10px;
            }

            &.clone {
                min-width: 25px !important;
            }
        }
    }
}
