@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.Report {
    .report-header {
        background-color: white;
        border-bottom: 1px solid $gray-400;
        padding: 1em;
    }
    .report-menu {
        background-color: white;
    }
    h3,h4 {
        color: $gray-300;
    }
}
