@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

.Report {
    .card {
        margin: 20px 0;
        .alert {
            margin: 20px 0 0 0;
        }
    }

    .report-menu {
        padding: 20px;
        background-color: white;
        .rerun-report,
        .show-log-output {
            margin-left: 1em;
        }
    }

    .table {
        background-color: white;
    }

    .no-scores {
        background-color: white;
        padding: 20px;
    }
}
