<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Configurator</title>
  <script type="text/JavaScript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"
          type="text/javascript" charset="utf-8"></script>
  <!--<link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main">

  <style type="text/css">
    #network{
        position: relative;
        width: 900px;
        height: 600px;
        /*right: 100px;
        left: 100px;*/
        top: 5px;
        border: 5px solid black;
        background-color: white;
    }

    .editor {
        flex: 1;
        height: 250px;
    }

    #ed_source_div {
        position: relative;
        top: 20px;
        //right: 0;
        //bottom: 0;
        //left: 100px;
        width: 800;
        height: 600;
    }
    #ed_configs_div {
        position: relative;
        top: 20px;
        //right: 0;
        //bottom: 0;
        left: 10px;
        width: 400;
        height: 200;
    }
  </style>
</head>

<body>

<div class="container">

<div class="page-header">
  <h1>Test Configurator</h1>
</div>

<!-- Reference for loading file, the page contains fancier file
 loading modes: https://www.html5rocks.com/en/tutorials/file/dndfiles/
 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Unique_file_type_specifiers
  -->

<!-- Sidebar Navigation -->
<script>
    $(function(){
      $("#includedContent").load("/sidebar");
    });
</script>
<div id="includedContent"></div>


<div class="main">


<label for="action-buttons">Actions</label>
<div class="btn-toolbar justify-content-between" role="toolbar" id="action-buttons">
  <div class="btn-group col-md-3" role="group" aria-label="Basic example">
    <!-- <div class="col-md-2"> -->
      <button id="undo-configure-button"
              class="btn btn-secondary"
              onclick="undo_selection()">
        <i class="fas fa-undo"></i>
        Undo
      </button>
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
      <button id="redo-configure-button"
              class="btn btn-secondary"
              onclick="redo_selection()">
        Redo
        <i class="fas fa-redo"></i>
      </button>
    <!-- </div> -->
  </div>
  <div class="col-md-2">
    <button id="validate-features-button"
            class="btn btn-primary"
            onclick="validate_features()">
      <i class="fas fa-check"></i>
      Validate
    </button>
  </div>
  <div class="col-md-3">
    <button id="download-button"
            class="btn btn-dark"
            onclick="download()">
      <i class="fas fa-file-download"></i>
      Download Model
    </button>
  </div>
</div>

<br />

<div id="network"></div>
<br />

<div class="grid">

  <div id="ed_source_div">
    <label for="editor_source">Model source</label>
    <div class="editor" id="editor_source"></div>
  </div>
  <div id="ed_configs_div">
    <label for="editor_configs">Feature selection</label>
    <div class="editor" id="editor_configs"></div>
  </div>
</div>

<script src="/script/configurator"></script>

<script>
  function load_testconfig() {
    global_filename = "NOFILE";
    xhr = new XMLHttpRequest();
    xhr.open('POST', '/testconfig/configure/');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
        if (xhr.status === 200) {
            console.log('Response from server: ' + xhr.responseText);
            response = JSON.parse(xhr.responseText);
            global_conftree = response['tree'];
            global_uid = response['uid'];
            global_selected_nodes.reset();
            draw_conftree(global_conftree);
        }
        else {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    xhr.send("");
  };

  load_testconfig();
</script>


</div> <!-- main -->
</body>

</html>
